/* common css */

:root {
  --border-width: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.food-app {
  padding: 15px;
}

.logo-container {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  border: 1px solid #000;
  align-items: center;
  padding: 0 10px;
}

.nav-items ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-items ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  transition: all 0.5s;
}

.nav-items ul li a:hover {
  color: #fff;
  background: #f7b922;
  padding: 5px 15px;
  border-radius: 8px;
}

.res-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search input {
  padding: 10px;
  font-size: 14px;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffa500;
  background: none;
}

.res-card-single {
  padding: 10px;
  background-color:#f7b92280;
  border-radius: 8px;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
}

.res-card-single:hover {
  /* box-shadow: 0px 0px 5px 2px rgb(255 165 0 / 0.55); */
  box-shadow: #ed5521;
  cursor: pointer;
}

.res-card-single h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}

.star-rating {
  background: green;
  padding: 5px;
  color: white;
  width: 72px;
  border-radius: 8px;
}

.res-card-single h4 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
  font-style: italic;
}

.res-container {
  max-width: 1400px;
  margin: 0 auto;
}

.res-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 30px;
}
.res-img{
  height: 250px;
}
.filter {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fliter-btn {
  border: none;
  padding: 10px;
  border-radius: 8px;
  background: #f7b922;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: math;
  cursor: pointer;
}

.contentBody {
  position: relative;
}
body,
html {
  margin: 0;
  background: white;
}

.login-btn button {
  padding: 10px 30px;
  border-radius: 8px;
  background: #f7b922;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: monospace;
}

/* css for filter search */

.loader {
  position: relative;
  width: 120px;
  height: 200px;
}
.loader-main {
  display: flex;
  justify-content: center;
}

.loader svg {
  position: absolute;
  top: 0;
  left: 0;
}

.loader svg circle {
  fill: none;
  stroke: #704c4c;
  stroke-width: 10px;
  stroke-linecap: round;
  animation: animate 2s linear infinite;
}

.loader svg:nth-child(1) circle {
  filter: blur(10px);
  stroke: #43acff;
}

.loader svg:nth-child(2) circle {
  filter: blur(20px);
  stroke: #43acff;
}

@keyframes animate {
  0% {
    stroke-dasharray: 295;
    stroke-dashoffset: 295;
  }
  50% {
    stroke-dasharray: 295;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 295;
    stroke-dashoffset: -295;
  }
}

.res-card{
  transition: all 0.5s;
  
}
.res-card:hover{
  margin-top: -35px;
}